// colors 
$colors: (
    "main-color":#557bf8,
    "secondary-color": #2b2b2b,
    "black": #1b1b1b,
    "soft-black": #222222,
    "base-black": #000000,
    "light-blue": #557bf8,
    "blue": #0000ff,
    "brown": #a52a2a,
    "dark-blue": #000050,
    "cyan": #00ffff,
    "gold": #ffd700,
    "light-green": #82ff82,
    "green": #00ff00,
    "grey": #808080,
    "dark-green": #004100,
    "light-red": #ff3e3e,
    "light-pink": #ffacfb,
    "pink": #ffc0cb,
    "dark-pink": #be9fba,
    "light-purple": #6f05c7,
    "purple": #800080,
    "dark-purple": #120029,
    "red": #ff0000,
    "violet": #ee82ee,
    "yellow": #ffff00,
    "silver": #c0c0c0,
    "white": #ffffff,
    "transparent": #00000000,
);

// font size
$font-xsm: 0.4rem;
$font-sm: 0.8rem;
$font-mid: 1.2rem;
$font-lg: 1.6rem;
$font-xlg: 2.0rem;
$font-xxlg: 2.5rem;
$base-font-size: 1em; 


$sizes: (
    "0": 0,
    "01": .1rem,
    "02": .2rem,
    "03": .3rem,
    "04": .4rem,
    "05": .5rem,
    "06": .6rem,
    "07": .7rem,
    "08": .8rem,
    "09": .9rem,
    "1": 1rem,
    "2": 2rem,
    "3": 3rem,
    "4": 4rem,
    "5": 5rem,
    "6": 6rem,
    "7": 7rem,
    "8": 8rem,
    "9": 9rem,
    "10": 10rem,
    "11": 11rem,
    "12": 12rem,
    "13": 13rem,
    "14": 14rem,
    "15": 15rem,
    "16": 16rem,
    "17": 17rem,
    "18": 18rem,
    "19": 19rem,
    "20": 20rem,
    "21": 21rem,
    "22": 22rem,
    "23": 23rem,
    "24": 24rem,
    "25": 25rem,
    "26": 26rem,
    "27": 27rem,
    "28": 28rem,
    "29": 29rem,
    "30": 30rem,
    "31": 31rem,
    "32": 32rem,
    "33": 33rem,
    "34": 34rem,
    "35": 35rem,
    "36": 36rem,
    "37": 37rem,
    "38": 38rem,
    "39": 39rem,
    "40": 40rem,
    "41": 41rem,
    "42": 42rem,
    "43": 43rem,
    "44": 44rem,
    "45": 45rem,
    "46": 46rem,
    "47": 47rem,
    "48": 48rem,
    "49": 49rem,
    "50": 50rem,
    "51": 51rem,
    "52": 52rem,
    "53": 53rem,
    "54": 54rem,
    "55": 55rem,
    "56": 56rem,
    "57": 57rem,
    "58": 58rem,
    "59": 59rem,
    "60": 50rem,
    "61": 61rem,
    "62": 62rem,
    "63": 63rem,
    "64": 64rem,
    "65": 65rem,
    "66": 66rem,
    "67": 67rem,
    "68": 68rem,
    "69": 69rem,
    "70": 70rem,
    "80": 80rem,
    "90": 90rem,
    "100": 100rem
);

// spacing 
$base-margin: 0.75rem;
$base-padding: 0.75rem;


// sizes by rem
$size-xxsm: 1rem;
$size-xsm: 3rem;
$size-sm: 5rem;
$size-mid: 8rem;
$size-lg: 11rem;
$size-xlg: 13rem;
$size-xxlg: 15rem;

// box shadow 
$base-box-shadow: 1px 3px 5px #0000001a;

// border 
$base-border-radius: 20px;

$seconds_variable: (
    "01": .1s,
    "02": .2s,
    "03": .3s,
    "04": .4s,
    "05": .5s,
    "06": .6s,
    "07": .7s,
    "08": .8s,
    "09": .9s,
    "1": 1s,
);

$flex-grid: (
    "1": 1,
    "2": 2,
    "3": 3,
    "4": 4,
    "5": 5,
    "6": 6,
    "7": 7,
    "8": 8,
    "9": 9
);

$px: (
    "1": 1px,
    "2": 2px,
    "3": 3px,
    "4": 4px,
    "5": 5px,
    "6": 6px,
    "7": 7px,
    "8": 8px,
    "9": 9px
);

$border-style: (
    "dashed": dashed,
    "dotted": dotted,
    "double": double,
    "hidden": hidden,
    "groove": groove,
    "ridge": ridge,
    "outset": outset,
    "solid": solid,
    "inset": inset,
    "unset": unset,
    "inherit": inherit,
    "initial": initial,
    "none": none
);