form, .form {
    width: auto;
    height: auto;
    border: 1px solid map-get($colors, "silver");
    border-radius: 8px;
    padding: 3rem;
    @include flex-column;
    gap: .5rem;
    
    .form-title {
        font-size: 2.5rem;
        font-weight: 500;
    }

    & > label {
        align-self: flex-start;
        font-size: 1.1rem;
    }

    & > input {
        padding: .2rem .8rem;
        border-radius: 8px;
        font-size: $font-mid;
        outline: none;
    }
}