.link, a {
    text-decoration: none;
    color: map-get($colors, "light-blue");
    font-size: $font-sm;

    &:hover {
        border-bottom: 1px solid map-get($colors, "light-blue");
    }
}

.link-2 {
    text-decoration: none;
    color: map-get($colors, "light-blue");
    font-size: $font-sm;
    transition: .2s ease-in;

    &:hover {
        border-bottom: 0;
        color: map-get($colors, "white");
    }
}
