.table {
    border-collapse: collapse;
    text-align: center;

    th, td {
        padding: 15px;
        border: 1px solid map-get($colors, "black");
    }

    td {
        color: map-get($colors, "black");
        font-size: $font-mid;
    }
}

.table-2 {
    @extend .table;
    border-collapse: collapse;

    th {
        border-left: 0;
        border-right: 0;
    }

    td {
        border: none;
    }

    tr {
        border-bottom: 1px solid;
    }
}

@each $key, $value in $colors {
    .table-even-color-#{$key}{
        tr:nth-child(even) {
            background-color: $value;
        }
    }
}

@each $key, $value in $colors {
    .table-odd-color-#{$key}{
        tr:nth-child(odd) {
            background-color: $value;
        }
    }
}