.text-main-color {
  color: #557bf8;
}

.text-hover-main-color:hover {
  color: #557bf8;
}

.text-focus-main-color:focus {
  color: #557bf8;
}

.text-selection-main-color::selection {
  color: #557bf8;
}

.bg-main-color {
  background-color: #557bf8;
}

.bg-main-color-transparent {
  background-color: #557bf8bb;
}

.bg-hover-main-color:hover {
  background-color: #557bf8;
}

.bg-focus-main-color:focus {
  background-color: #557bf8;
}

.bg-selection-main-color::selection {
  background-color: #557bf8;
}

.text-secondary-color {
  color: #2b2b2b;
}

.text-hover-secondary-color:hover {
  color: #2b2b2b;
}

.text-focus-secondary-color:focus {
  color: #2b2b2b;
}

.text-selection-secondary-color::selection {
  color: #2b2b2b;
}

.bg-secondary-color {
  background-color: #2b2b2b;
}

.bg-secondary-color-transparent {
  background-color: #2b2b2bbb;
}

.bg-hover-secondary-color:hover {
  background-color: #2b2b2b;
}

.bg-focus-secondary-color:focus {
  background-color: #2b2b2b;
}

.bg-selection-secondary-color::selection {
  background-color: #2b2b2b;
}

.text-black {
  color: #1b1b1b;
}

.text-hover-black:hover {
  color: #1b1b1b;
}

.text-focus-black:focus {
  color: #1b1b1b;
}

.text-selection-black::selection {
  color: #1b1b1b;
}

.bg-black {
  background-color: #1b1b1b;
}

.bg-black-transparent {
  background-color: #1b1b1bbb;
}

.bg-hover-black:hover {
  background-color: #1b1b1b;
}

.bg-focus-black:focus {
  background-color: #1b1b1b;
}

.bg-selection-black::selection {
  background-color: #1b1b1b;
}

.text-soft-black {
  color: #222222;
}

.text-hover-soft-black:hover {
  color: #222222;
}

.text-focus-soft-black:focus {
  color: #222222;
}

.text-selection-soft-black::selection {
  color: #222222;
}

.bg-soft-black {
  background-color: #222222;
}

.bg-soft-black-transparent {
  background-color: #222222bb;
}

.bg-hover-soft-black:hover {
  background-color: #222222;
}

.bg-focus-soft-black:focus {
  background-color: #222222;
}

.bg-selection-soft-black::selection {
  background-color: #222222;
}

.text-base-black {
  color: #000000;
}

.text-hover-base-black:hover {
  color: #000000;
}

.text-focus-base-black:focus {
  color: #000000;
}

.text-selection-base-black::selection {
  color: #000000;
}

.bg-base-black {
  background-color: #000000;
}

.bg-base-black-transparent {
  background-color: #000000bb;
}

.bg-hover-base-black:hover {
  background-color: #000000;
}

.bg-focus-base-black:focus {
  background-color: #000000;
}

.bg-selection-base-black::selection {
  background-color: #000000;
}

.text-light-blue {
  color: #557bf8;
}

.text-hover-light-blue:hover {
  color: #557bf8;
}

.text-focus-light-blue:focus {
  color: #557bf8;
}

.text-selection-light-blue::selection {
  color: #557bf8;
}

.bg-light-blue {
  background-color: #557bf8;
}

.bg-light-blue-transparent {
  background-color: #557bf8bb;
}

.bg-hover-light-blue:hover {
  background-color: #557bf8;
}

.bg-focus-light-blue:focus {
  background-color: #557bf8;
}

.bg-selection-light-blue::selection {
  background-color: #557bf8;
}

.text-blue {
  color: #0000ff;
}

.text-hover-blue:hover {
  color: #0000ff;
}

.text-focus-blue:focus {
  color: #0000ff;
}

.text-selection-blue::selection {
  color: #0000ff;
}

.bg-blue {
  background-color: #0000ff;
}

.bg-blue-transparent {
  background-color: #0000ffbb;
}

.bg-hover-blue:hover {
  background-color: #0000ff;
}

.bg-focus-blue:focus {
  background-color: #0000ff;
}

.bg-selection-blue::selection {
  background-color: #0000ff;
}

.text-brown {
  color: #a52a2a;
}

.text-hover-brown:hover {
  color: #a52a2a;
}

.text-focus-brown:focus {
  color: #a52a2a;
}

.text-selection-brown::selection {
  color: #a52a2a;
}

.bg-brown {
  background-color: #a52a2a;
}

.bg-brown-transparent {
  background-color: #a52a2abb;
}

.bg-hover-brown:hover {
  background-color: #a52a2a;
}

.bg-focus-brown:focus {
  background-color: #a52a2a;
}

.bg-selection-brown::selection {
  background-color: #a52a2a;
}

.text-dark-blue {
  color: #000050;
}

.text-hover-dark-blue:hover {
  color: #000050;
}

.text-focus-dark-blue:focus {
  color: #000050;
}

.text-selection-dark-blue::selection {
  color: #000050;
}

.bg-dark-blue {
  background-color: #000050;
}

.bg-dark-blue-transparent {
  background-color: #000050bb;
}

.bg-hover-dark-blue:hover {
  background-color: #000050;
}

.bg-focus-dark-blue:focus {
  background-color: #000050;
}

.bg-selection-dark-blue::selection {
  background-color: #000050;
}

.text-cyan {
  color: #00ffff;
}

.text-hover-cyan:hover {
  color: #00ffff;
}

.text-focus-cyan:focus {
  color: #00ffff;
}

.text-selection-cyan::selection {
  color: #00ffff;
}

.bg-cyan {
  background-color: #00ffff;
}

.bg-cyan-transparent {
  background-color: #00ffffbb;
}

.bg-hover-cyan:hover {
  background-color: #00ffff;
}

.bg-focus-cyan:focus {
  background-color: #00ffff;
}

.bg-selection-cyan::selection {
  background-color: #00ffff;
}

.text-gold {
  color: #ffd700;
}

.text-hover-gold:hover {
  color: #ffd700;
}

.text-focus-gold:focus {
  color: #ffd700;
}

.text-selection-gold::selection {
  color: #ffd700;
}

.bg-gold {
  background-color: #ffd700;
}

.bg-gold-transparent {
  background-color: #ffd700bb;
}

.bg-hover-gold:hover {
  background-color: #ffd700;
}

.bg-focus-gold:focus {
  background-color: #ffd700;
}

.bg-selection-gold::selection {
  background-color: #ffd700;
}

.text-light-green {
  color: #82ff82;
}

.text-hover-light-green:hover {
  color: #82ff82;
}

.text-focus-light-green:focus {
  color: #82ff82;
}

.text-selection-light-green::selection {
  color: #82ff82;
}

.bg-light-green {
  background-color: #82ff82;
}

.bg-light-green-transparent {
  background-color: #82ff82bb;
}

.bg-hover-light-green:hover {
  background-color: #82ff82;
}

.bg-focus-light-green:focus {
  background-color: #82ff82;
}

.bg-selection-light-green::selection {
  background-color: #82ff82;
}

.text-green {
  color: #00ff00;
}

.text-hover-green:hover {
  color: #00ff00;
}

.text-focus-green:focus {
  color: #00ff00;
}

.text-selection-green::selection {
  color: #00ff00;
}

.bg-green {
  background-color: #00ff00;
}

.bg-green-transparent {
  background-color: #00ff00bb;
}

.bg-hover-green:hover {
  background-color: #00ff00;
}

.bg-focus-green:focus {
  background-color: #00ff00;
}

.bg-selection-green::selection {
  background-color: #00ff00;
}

.text-grey {
  color: #808080;
}

.text-hover-grey:hover {
  color: #808080;
}

.text-focus-grey:focus {
  color: #808080;
}

.text-selection-grey::selection {
  color: #808080;
}

.bg-grey {
  background-color: #808080;
}

.bg-grey-transparent {
  background-color: #808080bb;
}

.bg-hover-grey:hover {
  background-color: #808080;
}

.bg-focus-grey:focus {
  background-color: #808080;
}

.bg-selection-grey::selection {
  background-color: #808080;
}

.text-dark-green {
  color: #004100;
}

.text-hover-dark-green:hover {
  color: #004100;
}

.text-focus-dark-green:focus {
  color: #004100;
}

.text-selection-dark-green::selection {
  color: #004100;
}

.bg-dark-green {
  background-color: #004100;
}

.bg-dark-green-transparent {
  background-color: #004100bb;
}

.bg-hover-dark-green:hover {
  background-color: #004100;
}

.bg-focus-dark-green:focus {
  background-color: #004100;
}

.bg-selection-dark-green::selection {
  background-color: #004100;
}

.text-light-red {
  color: #ff3e3e;
}

.text-hover-light-red:hover {
  color: #ff3e3e;
}

.text-focus-light-red:focus {
  color: #ff3e3e;
}

.text-selection-light-red::selection {
  color: #ff3e3e;
}

.bg-light-red {
  background-color: #ff3e3e;
}

.bg-light-red-transparent {
  background-color: #ff3e3ebb;
}

.bg-hover-light-red:hover {
  background-color: #ff3e3e;
}

.bg-focus-light-red:focus {
  background-color: #ff3e3e;
}

.bg-selection-light-red::selection {
  background-color: #ff3e3e;
}

.text-light-pink {
  color: #ffacfb;
}

.text-hover-light-pink:hover {
  color: #ffacfb;
}

.text-focus-light-pink:focus {
  color: #ffacfb;
}

.text-selection-light-pink::selection {
  color: #ffacfb;
}

.bg-light-pink {
  background-color: #ffacfb;
}

.bg-light-pink-transparent {
  background-color: #ffacfbbb;
}

.bg-hover-light-pink:hover {
  background-color: #ffacfb;
}

.bg-focus-light-pink:focus {
  background-color: #ffacfb;
}

.bg-selection-light-pink::selection {
  background-color: #ffacfb;
}

.text-pink {
  color: #ffc0cb;
}

.text-hover-pink:hover {
  color: #ffc0cb;
}

.text-focus-pink:focus {
  color: #ffc0cb;
}

.text-selection-pink::selection {
  color: #ffc0cb;
}

.bg-pink {
  background-color: #ffc0cb;
}

.bg-pink-transparent {
  background-color: #ffc0cbbb;
}

.bg-hover-pink:hover {
  background-color: #ffc0cb;
}

.bg-focus-pink:focus {
  background-color: #ffc0cb;
}

.bg-selection-pink::selection {
  background-color: #ffc0cb;
}

.text-dark-pink {
  color: #be9fba;
}

.text-hover-dark-pink:hover {
  color: #be9fba;
}

.text-focus-dark-pink:focus {
  color: #be9fba;
}

.text-selection-dark-pink::selection {
  color: #be9fba;
}

.bg-dark-pink {
  background-color: #be9fba;
}

.bg-dark-pink-transparent {
  background-color: #be9fbabb;
}

.bg-hover-dark-pink:hover {
  background-color: #be9fba;
}

.bg-focus-dark-pink:focus {
  background-color: #be9fba;
}

.bg-selection-dark-pink::selection {
  background-color: #be9fba;
}

.text-light-purple {
  color: #6f05c7;
}

.text-hover-light-purple:hover {
  color: #6f05c7;
}

.text-focus-light-purple:focus {
  color: #6f05c7;
}

.text-selection-light-purple::selection {
  color: #6f05c7;
}

.bg-light-purple {
  background-color: #6f05c7;
}

.bg-light-purple-transparent {
  background-color: #6f05c7bb;
}

.bg-hover-light-purple:hover {
  background-color: #6f05c7;
}

.bg-focus-light-purple:focus {
  background-color: #6f05c7;
}

.bg-selection-light-purple::selection {
  background-color: #6f05c7;
}

.text-purple {
  color: #800080;
}

.text-hover-purple:hover {
  color: #800080;
}

.text-focus-purple:focus {
  color: #800080;
}

.text-selection-purple::selection {
  color: #800080;
}

.bg-purple {
  background-color: #800080;
}

.bg-purple-transparent {
  background-color: #800080bb;
}

.bg-hover-purple:hover {
  background-color: #800080;
}

.bg-focus-purple:focus {
  background-color: #800080;
}

.bg-selection-purple::selection {
  background-color: #800080;
}

.text-dark-purple {
  color: #120029;
}

.text-hover-dark-purple:hover {
  color: #120029;
}

.text-focus-dark-purple:focus {
  color: #120029;
}

.text-selection-dark-purple::selection {
  color: #120029;
}

.bg-dark-purple {
  background-color: #120029;
}

.bg-dark-purple-transparent {
  background-color: #120029bb;
}

.bg-hover-dark-purple:hover {
  background-color: #120029;
}

.bg-focus-dark-purple:focus {
  background-color: #120029;
}

.bg-selection-dark-purple::selection {
  background-color: #120029;
}

.text-red {
  color: #ff0000;
}

.text-hover-red:hover {
  color: #ff0000;
}

.text-focus-red:focus {
  color: #ff0000;
}

.text-selection-red::selection {
  color: #ff0000;
}

.bg-red {
  background-color: #ff0000;
}

.bg-red-transparent {
  background-color: #ff0000bb;
}

.bg-hover-red:hover {
  background-color: #ff0000;
}

.bg-focus-red:focus {
  background-color: #ff0000;
}

.bg-selection-red::selection {
  background-color: #ff0000;
}

.text-violet {
  color: #ee82ee;
}

.text-hover-violet:hover {
  color: #ee82ee;
}

.text-focus-violet:focus {
  color: #ee82ee;
}

.text-selection-violet::selection {
  color: #ee82ee;
}

.bg-violet {
  background-color: #ee82ee;
}

.bg-violet-transparent {
  background-color: #ee82eebb;
}

.bg-hover-violet:hover {
  background-color: #ee82ee;
}

.bg-focus-violet:focus {
  background-color: #ee82ee;
}

.bg-selection-violet::selection {
  background-color: #ee82ee;
}

.text-yellow {
  color: #ffff00;
}

.text-hover-yellow:hover {
  color: #ffff00;
}

.text-focus-yellow:focus {
  color: #ffff00;
}

.text-selection-yellow::selection {
  color: #ffff00;
}

.bg-yellow {
  background-color: #ffff00;
}

.bg-yellow-transparent {
  background-color: #ffff00bb;
}

.bg-hover-yellow:hover {
  background-color: #ffff00;
}

.bg-focus-yellow:focus {
  background-color: #ffff00;
}

.bg-selection-yellow::selection {
  background-color: #ffff00;
}

.text-silver {
  color: #c0c0c0;
}

.text-hover-silver:hover {
  color: #c0c0c0;
}

.text-focus-silver:focus {
  color: #c0c0c0;
}

.text-selection-silver::selection {
  color: #c0c0c0;
}

.bg-silver {
  background-color: #c0c0c0;
}

.bg-silver-transparent {
  background-color: #c0c0c0bb;
}

.bg-hover-silver:hover {
  background-color: #c0c0c0;
}

.bg-focus-silver:focus {
  background-color: #c0c0c0;
}

.bg-selection-silver::selection {
  background-color: #c0c0c0;
}

.text-white {
  color: #ffffff;
}

.text-hover-white:hover {
  color: #ffffff;
}

.text-focus-white:focus {
  color: #ffffff;
}

.text-selection-white::selection {
  color: #ffffff;
}

.bg-white {
  background-color: #ffffff;
}

.bg-white-transparent {
  background-color: #ffffffbb;
}

.bg-hover-white:hover {
  background-color: #ffffff;
}

.bg-focus-white:focus {
  background-color: #ffffff;
}

.bg-selection-white::selection {
  background-color: #ffffff;
}

.text-transparent {
  color: rgba(0, 0, 0, 0);
}

.text-hover-transparent:hover {
  color: rgba(0, 0, 0, 0);
}

.text-focus-transparent:focus {
  color: rgba(0, 0, 0, 0);
}

.text-selection-transparent::selection {
  color: rgba(0, 0, 0, 0);
}

.bg-transparent {
  background-color: rgba(0, 0, 0, 0);
}

.bg-transparent-transparent {
  background-color: rgba(0, 0, 0, 0)bb;
}

.bg-hover-transparent:hover {
  background-color: rgba(0, 0, 0, 0);
}

.bg-focus-transparent:focus {
  background-color: rgba(0, 0, 0, 0);
}

.bg-selection-transparent::selection {
  background-color: rgba(0, 0, 0, 0);
}

.row {
  display: inline-block;
  width: 100%;
  height: auto;
}