@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

// reset browser styles
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

h1{
    font-size: $h1-size;
}

h2{
    font-size: $h2-size;
}

h3{
    font-size: $h3-size;
}

h4{
    font-size: $h4-size;
}

h5{
    font-size: $h5-size;
}

h6{
    font-size: $h6-size;
}

p{
    font-size: $base-font-size;
}