@mixin flex-center{
    display: flex;
    justify-content: center;
}

@mixin flex-align {
    @include flex-center;
    align-items: center;
}

@mixin flex-header {
    @include flex-align;
    justify-content: space-around;
}

@mixin flex-row {
    @include flex-align;
    flex-direction: row;
}

@mixin flex-row-reverse {
    @include flex-align;
    flex-direction: row-reverse;
}

@mixin flex-column {
    @include flex-align;
    flex-direction: column;
}

@mixin flex-column-reverse {
    @include flex-align;
    flex-direction: column-reverse;
}