// colors 
$colors: (
    "black": #1b1b1b,
    "soft-black": #222222,
    "base-black": #000000,
    "light-blue": #3763f5,
    "blue": #0000ff,
    "brown": #a52a2a,
    "dark-blue": #000050,
    "cyan": #00ffff,
    "gold": #ffd700,
    "light-green": #82ff82,
    "green": #00ff00,
    "grey": #808080,
    "dark-green": #004100,
    "light-red": #ff3e3e,
    "light-pink": #ffacfb,
    "pink": #ffc0cb,
    "dark-pink": #be9fba,
    "light-purple": #6f05c7,
    "purple": #800080,
    "dark-purple": #120029,
    "red": #ff0000,
    "violet": #ee82ee,
    "yellow": #ffff00,
    "silver": #c0c0c0,
    "white": #fff,
    "transparent": #00000000,
);

// spacing 
$base-margin: 0.75rem;
$base-padding: 0.75rem;

// font size
$font-xsm: 0.4rem;
$font-sm: 0.8rem;
$font-mid: 1.2rem;
$font-lg: 1.6rem;
$font-xlg: 2.0rem;
$font-xxlg: 2.5rem;
$base-font-size: 1rem; 
$h1-size: 2.0064rem;
$h2-size: 1.5048rem;
$h3-size: 1.1704rem;
$h4-size: 1.0032rem;
$h5-size: 0.8360rem;
$h6-size: 0.6688rem;

// box shadow 
$base-box-shadow: 1px 3px 5px #0000001a;

// border 
$base-border-radius: 20px;