.align-items-initial {
    align-items: initial;
}

.align-items-inherit {
    align-items: inherit;
}

.align-items-unset {
    align-items: unset;
}

.align-items-center {
    align-items: center;
}

.align-items-stretch {
    align-items: stretch;
}

.align-items-baseline {
    align-items: baseline;
}

.align-items-flex-start {
    align-items: flex-start;
}

.align-items-flex-end {
    align-items: flex-end;
}

// ALIGN SELF
.align-self-initial {
    align-self: initial;
}

.align-self-inherit {
    align-self: inherit;
}

.align-self-unset {
    align-self: unset;
}

.align-self-center {
    align-self: center;
}

.align-self-stretch {
    align-self: stretch;
}

.align-self-baseline {
    align-self: baseline;
}

.align-self-flex-start {
    align-self: flex-start;
}

.align-self-flex-end {
    align-self: flex-end;
}

.align-self-auto {
    align-self: auto;
}

// ALIGN CONTENT

.align-content-initial {
    align-content: initial;
}

.align-content-inherit {
    align-content: inherit;
}

.align-content-unset {
    align-content: unset;
}

.align-content-center {
    align-content: center;
}

.align-content-stretch {
    align-content: stretch;
}

.align-content-flex-start {
    align-content: flex-start;
}

.align-content-flex-end {
    align-content: flex-end;
}

.align-content-space-around {
    align-content: space-around;
}

.align-content-space-between {
    align-content: space-between;
}