.justify-content, .jc {
    &-center {
        justify-content: center;
    }

    &-baseline {
        justify-content: baseline;
    }

    &-first-baseline {
        justify-content: first baseline;
    }

    &-last-baseline {
        justify-content: last baseline;
    }

    &-end {
        justify-content: end;
    }

    &-flex-start {
        justify-content: flex-start;
    }

    &-flex-end {
        justify-content: flex-end;
    }

    &-safe {
        justify-content: safe;
    }

    &-start {
        justify-content: start;
    }

    &-stretch {
        justify-content: stretch;
    }

    &-right {
        justify-content: right;
    }

    &-left {
        justify-content: left;
    }

    &-unsafe {
        justify-content: unsafe;
    }

    &-space-around {
        justify-content: space-around;
    }

    &-space-between {
        justify-content: space-between;
    }

    &-space-evenly {
        justify-content: space-evenly;
    }
}

.justify-self, .js{
    &-center {
        justify-self: center;
    }

    &-baseline {
        justify-self: baseline
    }

    &-first-baseline {
        justify-self: first baseline;
    }

    &-last-baseline {
        justify-self: last baseline;
    }

    &-end {
        justify-self: end;
    }

    &-flex-start {
        justify-self: flex-start;
    }

    &-flex-end {
        justify-self: flex-end;
    }

    &-start {
        justify-self: start;
    }

    &-stretch {
        justify-self: stretch;
    }

    &-save {
        justify-self: save;
    }

    &-unsave {
        justify-self: unsave;
    }

    &-right {
        justify-self: right;
    }

    &-left {
        justify-self: left;
    }

    &-auto {
        justify-self: auto;
    }

    &-normal {
        justify-self: normal;
    }
}
